$toastr-black = black
$toastr-grey = #999999
$toastr-light-grey = #CCCCCC
$toastr-white = white
$toastr-near-black = #030303
$toastr-green = #51A351
$toastr-red = #BD362F
$toastr-blue = #2F96B4
$toastr-orange = #F89406
